# {

}
header{
    background-color: rgb(243, 225, 203);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    color: rgb(217, 38, 38);
  


}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;

}
.nav-title{
color: black;
font-weight: 700;
font-size: 2rem;

}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn-primary{
   background: #ff900e; 
   border-radius: 9px;
   padding: 20px 25px;
   color: #FFF;
   cursor: pointer;
   border: 0;
   font-size: 1.25rem;
}
.banner img{
    margin-top: 20px;
    width: 100%;

}
/* mobail responsive media queriea*/
@media screen  and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;

    }

}
  /*  tablet responsive media queriea*/  
  @media screen  and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;

    }
